{% extends 'manage.html' %}
{% block search_item %}
    <div class="func hide"><a>根据姓名</a></div>
    <div class="func hide"><a>根据职位</a></div>
    <div class="func hide"><a>根据身份证</a></div>
{% endblock %}
{% block allview %}
    <div class="func hide"><a id="viewall" href="/usdb/getusers_info/">所有员工信息</a></div>
{% endblock %}
{% block extensfunc %}
    <div class="item">
        <div class="item-header">基本信息录入</div>
        <div class="func hide"><a id="addstaff" href="/usdb/manage/adduser/">添加</a></div>
        <!--div class="func hide"><a>添加(没做)</a></div-->
    </div>
    <div class="item">
        <div class="item-header"><a>人员分析</a></div>
        <div class="func hide"><a>内容1</a></div>
        <div class="func hide"><a>内容2</a></div>
        <div class="func hide"><a>内容3</a></div>
        <div class="func hide"><a>内容4</a></div>
    </div>
    <div class="item">
        <div class="item-header"><a>分组管理</a></div>
        <div class="func hide"><a id="addgroup">创建组</a></div>
        <div class="func hide"><a id="modifygroup" href="/usdb/manage/modifygroup/">修改组信息</a></div>
    </div>
{% endblock %}