<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div><span>姓名:</span><span>{{ detailinfo.username }}</span></div>
    <div><span>年龄:</span><span>{{ detailinfo.age }}</span></div>
    <div><span>性别:</span><span>{{ detailinfo.sex }}</span></div>
    <div><span>职位:</span><span>{{ detailinfo.station }}</span></div>
    <div><span>电话:</span><span>{{ detailinfo.phone }}</span></div>
    <div><span>籍贯:</span><span>{{ detailinfo.origin }}</span></div>
    <div><span>身份证号:</span><span>{{ detailinfo.idnumber }}</span></div>
    <div><span>住址:</span><span>{{ detailinfo.address }}</span></div>
    <script src="/static/jquery-1.12.4.js"></script>
</body>
</html>